html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 5%; /* Ajuste conforme necessário */
}

#map {
  height: calc(100% - 5%); /* Subtrai a altura da navbar */
  width: 100%;
}

.legend {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
